@model Template.Models.SetUpSiteModel

<h2>Set Up Website</h2>

   
@using (Html.BeginForm("Index","Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)

    @Html.LabelFor(x=>x.AdminUsername)
    @Html.TextBoxFor(x=>x.AdminUsername)

    @Html.LabelFor(x=>x.AdminPassword)
    @Html.TextBoxFor(x=>x.AdminPassword)
    
    @Html.LabelFor(x=>x.ConfirmAdminPassword)
    @Html.TextBoxFor(x=>x.ConfirmAdminPassword)
    
    <input type="submit" />
}