@model Template.Models.SetUpSiteModel

<h2>Set Up Website</h2>

   
@using (Html.BeginForm("SetUpSite", "Account", FormMethod.Post))
{

    @Html.ValidationSummary(true)

		<div>
			@Html.LabelFor(x=>x.AdminUsername)
			@Html.TextBoxFor(x=>x.AdminUsername)
		</div>
		
		<div>
			@Html.LabelFor(x=>x.AdminPassword)
			@Html.PasswordFor(x=>x.AdminPassword)
		</div>
	
		<div>
			@Html.LabelFor(x=>x.ConfirmAdminPassword)
			@Html.PasswordFor(x=>x.ConfirmAdminPassword)
		</div>
	    
    <input type="submit" />
}