<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
	  <body>
			<header class="mainheader">
				<nav class="mainNav" >
                <ul class="nav">



                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


									@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator")) {
									   
										<li>@Html.ActionLink("Admin", "Index","Admin")</li>
					 					<li>@Html.ActionLink("Users", "UserManagement","User")</li>
					 
									}

                </ul>
            </nav>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
						
				<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        </div>
        <footer class="mainfooter">		
						<img id="footerlogo" alt="GrayBear Web Ontogenesis" src="~/Images/GrayBear.png" />
            <small>&copy; @DateTime.Now.Year - Template Web Site Name</small>

						

						@if (User.Identity.IsAuthenticated)
			{

						<p>User @User.Identity.Name logged in

							@Html.ActionLink("Log out","Logout","Account")

						</p>
			}
			else { 
          
          <h3>
            Create an account
          </h3>
          
          <ul>
              <li>@Html.ActionLink("Login", "Login", "Account")</li>
              <li>@Html.ActionLink("Register", "Register", "Account")</li>
          </ul>
	
          
                        
			}
				

        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="Scripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        @RenderSection("scripts", required: false)

       <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            }(document, 'script'));
        </script>
    </body>
</html>
