@model Template.Models.HomeModel



<p class="bigText">Welcome to your new site</p>

 <p>Listed below are all the items on the site. These are great items.</p>

   
@using (Html.BeginForm("Index","Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    
 <section class="ArticleSection">
	
	@for (var i = 0; i < Model.ParentItems.Count(); i++)
    {

     
       <article class="standardarticle" >    
				 <header>
					 @Model.ParentItems[i].Name
				 </header>
                <div class="content">
					 Will be desciption

                    @if (Model.ParentItems[i].ChildItems.Count() > 0) { 
                    
                    <ul>
                    @foreach (var item in @Model.ParentItems[i].ChildItems)
                    {
                      <li> @item.Name </li>
                    }
                    </ul>
                    }
                        


   
                </div>
				 <footer>
					@Html.ActionLink("View Item","ParentItemDetails", new { ID = Model.ParentItems[0].ParentItemid}, null)
				 </footer>
       </article> 
       
    }
</section>
        
    <p>This is a cheat at the moment</p>
    
    
}


